<div class="container d-flex flex-column fixed-bottom">
  <div className="row">
    <div className="col-md-6">
      <div className="d-flex flex-row">
        <div className="mx-2 text-uppercase">Facebook</div>
        <div className="mx-2 text-uppercase">+</div>
        <div className="mx-2 text-uppercase">Instagram</div>
        <div className="mx-2 text-uppercase">+</div>
        <div className="mx-2 text-uppercase">Dribbble</div>
      </div>
    </div>
  </div>
  <small className="text-center mt-5 footer-copyright">
    &copy; Nairobi, 2023. All rights reserved.
  </small>
</div>
